---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <ul>
      <li>
        <a href="/3-basic-responsive-CSS-SCSS-Layouts/page1">
          <h1>Page 1</h1>
        </a>
      </li>

      <li>
        <a href="/3-basic-responsive-CSS-SCSS-Layouts/page2">
          <h1>Page 2</h1>
        </a>
      </li>
      <li>
        <a href="/3-basic-responsive-CSS-SCSS-Layouts/page3">
          <h1>Page 3</h1>
        </a>
      </li>
    </ul>
  </main>
</Layout>
