---
import Layout from "../layouts/Layout.astro";
import "../style/page1.scss";
---

<Layout>
  <main>
    <header>Header</header>

    <section>
      <article>Section 1</article>
    </section>

    <section>
      <article>Section 2</article>
    </section>

    <section>
      <article>Section 3</article>
    </section>

    <section>
      <article>Section 4</article>
    </section>

    <footer>Footer</footer>
  </main>
</Layout>
