---
import Layout from "../layouts/Layout.astro";
import "../style/page3.scss";
---

<Layout>
  <main>
    <header>Header</header>

    <aside>Sidebar / Filter</aside>

    <section class="content">
      <section class="products">
        <article class="product">Produkt</article>
        <article class="product">Produkt</article>
        <article class="product">Produkt</article>
        <article class="product">Produkt</article>
        <article class="product">Produkt</article>
        <article class="product">Produkt</article>
        <article class="product">Produkt</article>
        <article class="product">Produkt</article>
        <article class="product">Produkt</article>
        <article class="product">Produkt</article>
        <article class="product">Produkt</article>
        <article class="product">Produkt</article>
        <article class="product">Produkt</article>
        <article class="product">Produkt</article>
        <article class="product">Produkt</article>
      </section>
    </section>

    <footer>Footer</footer>
  </main>
</Layout>
