---
import Layout from "../layouts/Layout.astro";
import "../style/page2.scss";
---

<Layout>
  <main>
    <header>Header</header>

    <section class="content">
      <section class="article-wrapper">
        <article class="article">Content</article>
        <section class="author">Author</section>
        <section class="comments">Kommentare</section>
      </section>
      <aside>
        <section>About</section>
        <section>Popular Posts</section>
        <section>Follow Me</section>
      </aside>
    </section>

    <footer>Footer</footer>
  </main>
</Layout>
